#page-blocks-enrollment-enrollment #insc_users,
#page-blocks-enrollment-enrollment #roles,
#page-blocks-enrollment-enrollment #dates input.hasDatepicker {
    width : 70%;
}

#page-blocks-enrollment-enrollment #dates input.hasDatepicker {
    padding-left : 0;
    padding-right: 0;
}

#page-blocks-enrollment-enrollment #courses,
#page-blocks-enrollment-enrollment label[for="courses"]{
    width : 85%;
}

#page-blocks-enrollment-enrollment label {
    text-align : left;
    width : 70%;
    display : inline-block;
}